<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class="titles">
    <ion-label text-left> {{TrendingTitle}}</ion-label>
    <ion-select interface="popover" slot="end" placeholder="All" [(ngModel)]="selectedValue" (ionChange)="getDataWithChosenOption(selectedValue)">
      <ion-select-option *ngFor="let item of options" [value]="item">{{item}} </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-slides pager #mySlider [options]="slideOpts" loop="true" (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
    <ion-slide *ngFor="let movie of TrendingMovies; let i=index">
      <ion-card class="card">
        <ion-img [src]="movie.backdrop_path" (ionImgDidLoad)="ionImgDidLoad(i)" [hidden]="!lazyloadFlag[i]" cache=true></ion-img>
        <img src="../../assets/placeholder.png" [hidden]="lazyloadFlag[i]"/>
        <ion-card-header>
          <ion-card-title text-left text-wrap>{{ movie.original_title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content text-wrap>
          <p text-left>{{movie.overview | truncateword }}</p>
        </ion-card-content>

        <ion-footer class="cardfooter">
          <ion-item class="activated" detail-push>
            <ion-label text-right>More Details</ion-label>
            <ion-icon name="arrow-dropright" slot="end"></ion-icon>
          </ion-item>
        </ion-footer>
        <!-- Navigation -->
        <div class="swiper-button-next swiper-button-white custbutton"></div>
        <div class="swiper-button-prev swiper-button-white custbutton"></div>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>